.box{
    width: 1600px;
    height: 900px;
    position: fixed;
    left: 7%;
    z-index: 999;
}
.box-border{
    width: 90%;
    height: 90%;
    margin: auto auto;
    border-color: rgba(128, 128, 128, 0.3) ;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.3);
    z-index: 0;
    padding: 10px 10px;
}
.box-img{
    z-index: 1;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}
.box-img-name{
    text-align: center;
    margin-top: 10px;
}
