.pagination {
    --bs-pagination-hover-color: lightcoral;
    --bs-pagination-focus-color: lightcoral;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(240 128 128);
}
.paginator-position {
    position: fixed;
    bottom: 7px;
    height: 40px;
}
.paginator-position-news{
    bottom: 7px;
    height: 40px;
    position: absolute;
    left: 14.7%;
}
.paginator-position-news-show{
    height: 40px;
    position: absolute;
    bottom: -5%;
}
.page-link {
    color: lightcoral;
}
.active>.page-link {
    background-color: lightcoral;
    border-color: lightcoral;
}