/* Стили для стрелки вверх */
.up:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 0 6px 10px 6px;
    border-color: transparent transparent #333 transparent;
    height: 0;
    width: 0;
}
.up-active:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 0 6px 10px 6px;
    border-color: transparent transparent lightcoral transparent;
    height: 0;
    width: 0;
}
/* Стили для стрелки вниз */
.down:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #333 transparent transparent transparent;
    height: 0;
    width: 0;
}
.down-active:before {
    content: "";
    display: block;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: lightcoral transparent transparent transparent;
    height: 0;
    width: 0;
}