.admin-photos{
    max-width: 60px;
    max-height: 60px;
}
.admin-photos-edit{
    margin: auto auto;
    max-width: 600px;
    max-height: 600px;
}
.admin-video{
    max-width: 60px;
    max-height: 60px;
}
.admin-video-edit{
    max-width: 800px;
    max-height: 800px;
}