.admin-news-input{
    width: 90%;
    margin: 10px auto;
}
.admin-input-form{
    width: 100%;
    border: 1px solid rgba(128,128,128, 0.5);
    padding: 5px;
    border-radius: 5px;
}
.admin-input-form:focus{
    border-color: lightcoral;
    outline-color: lightcoral;
}