.admin-wrapper{
    max-width: 1400px;
    margin-right: 150px;
    margin-left: 350px;
}
.admin{
    min-height: 50px;
}
.admin nav{
    margin-bottom: 30px;
}
.admin nav a.item1{
    left: 400px;
}
.admin nav a.item2{
    left: 550px;
}
.admin nav a.item3{
    left: 700px;
}
.admin nav a.item4{
    left: 850px;
}
.table{
    --bs-table-accent-bg: rgba(252, 252, 252, 0.7);
}
.table th{
    color: lightcoral;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(225, 12, 12, 0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 0 solid #c71515;
    width: 80%;
    max-width: 500px;
}
.admin-users-input{
    background-color: rgba(252, 252, 252, 0.7);
    border: 1px solid lightcoral;
    width: 500px;
}
.admin-menu{
    background-color: lightcoral;
}
.page h6{
    color: lightcoral;
}
.admin-nav-main{
    width: 100%;
    height: 50px;
    background-color: lightcoral;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.admin-nav-main a{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #b99d61;
    text-decoration: none;
    color: #444444FF;
}
.admin-nav-main a:last-child{
    border-right: 0;
}
.admin-nav-main:hover a:hover{
    background-color: whitesmoke;
    cursor: pointer;
    color: #b99d61;
}
.admin-main-margin{
    margin-bottom: 20px;
}